/* website primary font */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared-style */

.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-01{
    color: #181818;
}

.dark-02{
    color: #474747;
}

.dark-03{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.text-center{
    text-align: center;
}




/* header */

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}



/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
}

/* banner style */

.banner{
    display: flex;
    margin: 0 30px 0 230px;
    justify-content: space-between;
    
}

.banner-content{
    max-width: 580px;
}

.banner-greetings{
     
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-description{
    font-size: 18px;
}

.banner-profile-pic{
    width: 580px;
}

/* about me */

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}

/* main style */

main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about style */

.about{
    border-radius: 10px;
    padding: 130px 150px;
   
}

.about-content{
    background-color: white;
    padding: 5px;
}


.about-items{
    display: flex;
    justify-content: space-around;

    
}

.about-item{
    line-height: 0.3;
    margin: 30px 0px 0px 0px;

}

.about-title{
    font-size: 20px;
}

.description{
    font-weight: bold;
    font-size: 20px;
}

/* skills style here */

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    justify-items: left;
    box-shadow: 0px 6px 50px 0px #ddd7d7;
    border-radius: 5px;
}

.skill-description{
    text-align: left;
   
}

/* resume style */

.resume-container{
    display: flex;
    gap: 24px;
    text-align: left;
    row-gap: 10px;
}

.experience{
    height: 200px;
}

.experience-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
}

.download-resume{
    margin-top: 50px;
}

/* footer style */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer textarea
{
    display: block;
    width: 100%;
    height: 64px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    margin-bottom: 24px;
    border: none;
}

footer textarea{
    width: 100%;
    height: 180px;
}
